<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1531482615713-2afd69097998?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80);">
  <div class="container">
    <h1>Qualifica <strong>Progredir</strong></h1>
    <p>Sistema de cadastro de beneficiários e gestão de parcerias</p>
    <% if current_user.nil? %>
      <%= link_to "Acessar", new_user_registration_path, class: "btn btn-flat" %>
    <% else %>
      <%= link_to "Cadastrar novos beneficiários", targets_new_path, class: "btn btn-flat" %>
      <%= link_to "Listar cursos cadastrados", courses_path, class: "btn btn-flat" %>
      <%= link_to "Cadastrar novo cursos", courses_new_path, class: "btn btn-flat" %>
    <% end %>
  </div>
</div>

